* {
  font-family: Lato;
}

body {
  background-color: rgb(0, 225, 255);
  padding-left:15px;
  padding-right:15px;
  padding-top:5px;
  padding-bottom:5px;
}

.box {
  box-shadow: 10px 10px 3px 5px rgba(0,0,0,0.7);
  border:1px solid black;
  padding:5px;
  border-radius: 12px;
  background-color:white;
  position:relative;
}

.idag {
  color:black;
  position:absolute;
  right:5px;
  top:5px;
}
.annendag {
  color:gray;
  position:absolute;
  right:5px;
  top:5px;
}

.wthr-img {
  width:50px;
  height:50px;
}

b {
  font-weight:bold;
}

.verfor b {
  text-decoration: underline;
}

.verfor {
  text-align:center;
}

.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}
