* {
  font-family: Lato;
}

body {
  background-color: rgb(0, 225, 255);
  padding-left:15px;
  padding-right:15px;
  padding-top:5px;
  padding-bottom:5px;
}

.box {
  box-shadow: 10px 10px 3px 5px rgba(0,0,0,0.7);
  border:1px solid black;
  padding:5px;
  border-radius: 12px;
  background-color:white;
  position:relative;
}

.idag {
  color:black;
  position:absolute;
  right:5px;
  top:5px;
}
.annendag {
  color:gray;
  position:absolute;
  right:5px;
  top:5px;
}

.wthr-img {
  width:50px;
  height:50px;
}

b {
  font-weight:bold;
}

.verfor b {
  text-decoration: underline;
}

.verfor {
  text-align:center;
}
